*{
				box-sizing: border-box;
				padding: 0;
				margin: 0;
}

html{
				font-size: 62.5%;
}

body{

		background-image: url(https://i.postimg.cc/B63NqjYd/b1.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
}

.__Eleccion,
.__Resultado,
.__GanarPerder {

		width: 100vw;
		height: 30vh;
		position: relative;
		overflow: hidden;
		/*border: 2px solid red;*/

}

.__Eleccion,
.__Resultado,
.__GanarPerder {

		display: flex;
		justify-content: space-around;
		align-items: center;

}

.__Papel,
.__Piedra,
.__Tijera,
.__VS,
.__UserEle,
.__PcEle {

		width: 100%;
		height: 100%;

}

.contenedor {

		width: 100px;
		height: 100px;
		overflow: hidden;

}

.__ele:hover {
		
		transform: scale(1.05, 1.05);

}

.__ele {

		cursor: pointer;

}

.__UserEle,
.__PcEle {
		visibility: hidden;
}

.__Resultado {

		/*border: 2px solid blue;*/	
		height: 40vh;
		font-size: 1.7rem;
		color: white;
		font-weight: bold;

}

.__GanarPerder {

		justify-content: center;
		font-size: 1.5rem;
		color: white;
		font-weight: bold;
}
